
/* Agrega aquí el CSS del segundo código */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #073E1C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

main {
    display: flex;
}

aside {
    background-color: #025D25;
    color: white;
    flex-basis: 20%;
    padding: 20px 0px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

section {
    flex-grow: 1;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: #DCF5E6;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #DCF5E6;
    color: #073E1C;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #073E1C;
    color: white;
}

footer {
    height: 50px;
    background-color: #073E1C;
}
